<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fritzvd.blindchess" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BlindChess</name>
    <description>
        Blind chess enables you to play blind chess with stockfish chess engine.
    </description>
    <author email="fritzvd@gmail.com" href="http://fritzvd.com">
        fritzvd
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
